html{
    font-size: 18px;
}


body{
    background-image: url('../img/background/yellow.avif');
    font-family: 'Sunflower', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

/* Modal start */

.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: flex;
}

.modal_body {
    position: fixed;
    top: 50%;
    left: 50%;
    overflow: scroll;

    width: 30em;
    height: 30em;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

/* Modal end */

.ej__main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh
}

.ej__main__wrap{
    margin-top: -80px;
    letter-spacing: 5px;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: white;
}

.ej__main__introduce--purple{
    color: purple;
}

.ej__main__introduce--pink{
    color: magenta;
}

.ej__main__jobs{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ej__main__job{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ej__main__job:hover{
    transform: scale(1.1);
}

.ej__main__job--name{
    margin-top: 30px;
}

/* main__recruit start */

.ej__main__recruits__wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ej__main__recruits{
    margin-top: 50px;
}

.ej__main__recruit{
    padding: 15px;
    width: 230px;
    height: 120px;
    border: 1px solid yellow;
    margin-top: 40px;
    font-size: 1rem;
}

.ej__main__recruit__name{
    margin-bottom: 10px;
    text-align: left;
}

.ej__main__recruit__etc{
    margin-top: 10px;
    text-align: left;
}

.ej__main__recruit__name, .ej__main__recruits__etc--location, .ej__main__recruits__etc--period{
    font-size: 0.9rem;
}

.ej__main__recruits__etc--pay, .ej__main__recruits__etc--time{
    font-size: 0.9rem;
    color: magenta;
}

.ej__main__recruit__name{
    color: purple;
    
}

.recruit__detail{
    margin-top: 10px;
}


/* main__recruit end */

.ej__employBoard label{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.ej__employBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ej__employBoard__selector{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.ej__employBoard__selector input{
    padding: 5px;
    height: 34px;
    width: 28rem;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
}



input:focus{
    border: 2px solid purple;
}

textarea:focus{
    border: 2px solid purple;
}


.ej__employBoard__textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ej__employBoard__textarea textarea{
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    width: 28rem;
    height: 20rem;
    resize: none;
}

.ej__employBoard__btns{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ej__employBoard__btns button{
    width: 3.6rem;
    height: 2rem;
    font-size: 0.9rem;
    background-color: #800080;
    color: white;
    border-radius: 10px;
  }

.ej__employBoard__btns__close{
    margin-left: 10px;
}

.ej__employBoard__selector__image{
    font-size: 1.6rem;
}

.ej__employBoard__upload{ 
    width: 100%;
    margin-top: 20px;
    display: flex;
    /* justify-content: space-evenly; */
    margin-bottom: 10px;
}

#ez__file{
    opacity: 0;
}


/* Media Query 시작 */
@media screen and (max-width:944px) {
    #pc{
        display: none;
    }

    .ej__logocommunity{
        margin-left: 15px;
    }


    .ej__main__wrap{
        width: 100%;
        font-size: 1rem;
        margin-top: 20px;
    }


    .ej__main__jobs{
        flex-wrap: wrap;
    }

    .ej__main__job{
        margin: 15px 25px;
    }

    .ej__main__community__hotboards{
        font-size: 0.9rem;
    }


    .ej__main{
        overflow: auto;
        height: 125vh;
    }
    
    .ej__main__recruits{
        margin-top: 20px;
    }

    .ej__main__recruit{
        padding: 10px;
        width: 180px;
        height: 120px;
        border: 1px solid yellow;
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .ej__main__recruit__name{
        margin-bottom: 10px;
        text-align: left;
    }
    
    .ej__main__recruit__etc{
        margin-top: 0.5rem;
        text-align: left;
    }
    
    .ej__main__recruit__name, .ej__main__recruits__etc--location, .ej__main__recruits__etc--period{
        font-size: 0.6rem;
        opacity: 1;
    }
    
    .ej__main__recruits__etc--pay, .ej__main__recruits__etc--time{
        font-size: 0.6rem;
        color: magenta;
    }




}

@media screen and (min-width:945px) {
    #mob{
        display: none;
    }
}

/* Media Query 끝 */