html{
    font-size: 18px;
}


body{
    background-image: url('../img/background/yellow.avif');
    font-family: 'Sunflower', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

.ej__main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh
}

.ej__main__wrap{
    margin-top: -80px;
    letter-spacing: 5px;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: white;
}

.ej__main__introduce--purple{
    color: purple;
}

.ej__main__introduce--pink{
    color: magenta;
}

.ej__main__jobs{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ej__main__job{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ej__main__job:hover{
    transform: scale(1.1);
}

.ej__main__job--name{
    margin-top: 30px;
}

/* main__recruit start */

.ej__main__recruits__wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ej__main__recruits{
    margin-top: 50px;
}

.ej__main__recruit{
    padding: 15px;
    width: 230px;
    height: 150px;
    border: 1px solid yellow;
    margin-top: 40px;
    font-size: 1rem;
}

.ej__main__recruit__name{
    margin-bottom: 10px;
    text-align: left;
}

.ej__main__recruit__etc{
    margin-top: 10px;
    text-align: left;
}

.ej__main__recruit__name, .ej__main__recruits__etc--location{
    font-size: 0.9rem;
    opacity: 0.5;
}

.ej__main__recruits__etc--pay{
    font-size: 0.9rem;
    color: magenta;
}

.ej__main__recruit__name{
    color: purple;
    
}


/* main__recruit end */


/* Media Query 시작 */
@media screen and (max-width:944px) {
    #pc{
        display: none;
    }

    .ej__logocommunity{
        margin-left: 15px;
    }


    .ej__main__wrap{
        width: 100%;
        font-size: 1rem;
        margin-top: 20px;
    }


    .ej__main__jobs{
        flex-wrap: wrap;
    }

    .ej__main__job{
        margin: 15px 25px;
    }

    .ej__main__community__hotboards{
        font-size: 0.9rem;
    }


    .ej__main{
        overflow: auto;
        height: 125vh;
    }
    
    .ej__main__recruits{
        margin-top: 20px;
    }

    .ej__main__recruit{
        padding: 10px;
        width: 170px;
        height: 120px;
        border: 1px solid yellow;
        margin-top: 20px;
        font-size: 0.8rem;
    }

    .ej__main__recruit__name{
        margin-bottom: 10px;
        text-align: left;
    }
    
    .ej__main__recruit__etc{
        margin-top: 0.5rem;
        text-align: left;
    }
    
    .ej__main__recruit__name, .ej__main__recruits__etc--location{
        font-size: 0.5rem;
        opacity: 1;
    }
    
    .ej__main__recruits__etc--pay{
        font-size: 0.5rem;
        color: magenta;
    }




}

@media screen and (min-width:945px) {
    #mob{
        display: none;
    }
}

/* Media Query 끝 */